.labelSelectFile {
    background: white;
    color: #fbc02d;
    border: 1px solid #fbc02d;
    height: 35px;
    width: 100px;
    margin-right: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    cursor: pointer;
}


input[type="file"] {
    display: none;
}



.footer-container{
    position: relative;
}

.container-composer{
    position: fixed;
    right: 25%;
    bottom: 0;
    left: 25%;
}