.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
  }
  
  .modal-container {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .modal-container > .header-modal {
    padding: 10px 20px;
    border-bottom: 1px solid #ececec;
    font-size: 24px;
    color: aqua;
    font-weight: bold;

  }
 
  .modal-container > .body-modal {
    padding: 10px 20px;
    border-bottom: 1px solid #ececec;
    font-family: "Roboto";
  }
  label {
    color: aqua;
    margin-right: 16px;
    font-size: 16px;
    line-height: 16px;
}
  
  .modal-container > .footer-modal {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .btnConfirm {
    background-color: aqua;
    color: white;
    font-size: 16px;
    line-height: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 10px;
  }
  .btnCancel {
    background-color: #cccc;
    color: black;
    font-size: 16px;
    line-height: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin-right: 12px;
  }
  
  