.modalOptionsContainer{
    background-color: rgba(0, 0, 0, 0.93);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.modalOptionsContainerBackground{
    background: white;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: black;
}

.frameAva {
    display: flex;
    width: 500px;

}

.imgAva{
    width: 40%;
    display: flex;
}
img#chooseAva {
    width: 500px;
    max-height: 250px;
    object-fit: cover;
    object-position: 0% 60%;
}