.container-messages {
  /* display: flex; */
  /* justify-content: flex-end; */
}
.container-user {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
.img-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

.txt-content {
  margin-left: 50px;
  background: whitesmoke;
  color: black;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  font-size: 18px;
  line-height: 18px;
  margin-right: 10px;
  margin-top: 10px;
}

.btn-Remove {
  border-radius: 4px;
  background-color: none;
  color: white;
  background: transparent;
  outline: none;
  border: none;
  font-size: 15px;
  margin-right: -34px;
  display: none;
  margin-top: 15px;
}
.my-txt-content:hover .btn-Remove {
  display: block;
  cursor: pointer;
  opacity: 1;
}

.my-container-messages{
  display: flex;
  justify-content: flex-end;
}

.my-container-user{
display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: flex-end;
}

.my-txt-content{
    color: black;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    display: flex;
}

.imgContent {
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  width: 350px;
  order: 1;
  margin-left: 50px;

}