.containerchat {
    max-width: 1400px;
    margin: auto;
    height: 100vh;
    display: flex; 
}
.containerleft {
    flex: 1;
    display: flex;
    flex-direction: column;
  
}
.containermiddle {
    flex: 2;
    background-color: #DAA520
}
.containerright {
    flex: 0.8;
}

.container-message-list {
    color: white;
    font-weight: 800;
    height: 90%;
}


.button-emo{
    width: 40px;
    height: 40px;
    background-color: #DAA520;
    border-radius: 50%;
    
}

.button-send {
    width: 40px;
    height: 40px;
    background-color: #DAA520;
    border-radius: 50%;
    border: 4px; 
    font-size: 24px;
}

.container-composer{
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 5px;

}
.input-chat {
    margin: auto;
    margin-right: 5px;
    width: 80%;
    padding: 10px;
    background: rgb(212, 212, 212);
    border: none;
    border-radius: 20px;
}