.container-profile {
    background-color: #96bef1;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 400px;
}


.avatar {
    width: 150px;px;
    height:150px;
    border-radius:50%;
    margin-top: 10px;
    background-color: #fff;
}

.container-conversation-list {
    background-color: #96bef1;
    color: white;
    align-items: center;
    border-top: 5px solid white;
    flex: 2;
}